<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        
            <ul class="nav navbar-nav mr-auto d-none d-md-block search_section">
               <span class="d-lg-block"><span class="ico-search"></span>Hi John!</span>
            </ul>
            <ul class="navbar-nav align-items-center flex-row">
              <button type="button" id="sidebarCollapse" class="btn btn-tog mr-auto d-block d-sm-none">
                <img src="../../../assets/images/logoSmall.png">
            </button>
              <li class="nav-item d-none d-md-block">
                <form class="form-inline my-2 my-lg-0 mr-lg-2">
                  <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Search for products, brands and more">
                  </div>
                </form>
              </li>
              <li class="nav-item d-sm-inline-block avatar">
                <a class="nav-link ">
                  <img src="../../../assets/images/like.png" class="" alt="admin">
                </a>
              </li>
              <li class="nav-item d-sm-inline-block">
                <a class="nav-link waves-effect waves-light noti_sec" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span id="notifier-set"></span>
                  <img src="../../../assets/images/cart.png" alt="admin">
                </a>
              </li>
              <li class="nav-item d-sm-inline-block dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../../../assets/images/profpic.png" class="rounded-circle z-depth-0" alt="admin"> John Paul </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-6" id="profile-drop">
                  <a class="dropdown-item waves-effect waves-light" href="#"><i class="fa fa-user"></i> Profile</a>
                  <a class="dropdown-item waves-effect waves-light" href="#"><i class="fa fa-book"></i> Billing</a>
                  <a class="dropdown-item waves-effect waves-light" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                </div>
              </li>
              <!-- <li class="nav-item d-sm-inline-block avatar">
                <a class="nav-link ">
                  <img src="assets/images/profile-pic-01.jpg" class="rounded-circle z-depth-0" alt="admin">
                </a>
              </li> -->
          </ul>
    </div>
</nav>