$primary-color:#0F255F;
$secondary-color:#536DFE;
#sidebar {
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: $primary-color;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 0px -1px 31px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px -1px 31px rgba(0, 0, 0, 0.06);
}

@mixin theme($theme: DarkGray) {
    background: $theme;
    box-shadow: 0 0 1px rgba($theme, .25);
    color: #fff;
  }
  
  .info {
    @include theme;
  }
  .alert {
    @include theme($theme: DarkRed);
  }
  .success {
    @include theme($theme: DarkGreen);
  }

#sidebar.active {
    margin-left: -80px;
}

#sidebar .sidebar-header {
    padding: 11px;
    text-align: center;
    background: $primary-color;
    font-size: 22px !important;
    padding-top: 23px;
}
#sidebar .sidebar-header h3{
    font-size: 22px;
}
#sidebar ul.components {
    padding: 45px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}


#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
    text-align: center;
    padding: 0;
    height: 70px;
    line-height: 70px;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: $secondary-color;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: $secondary-color;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $secondary-color;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: $secondary-color !important;
    color: #fff !important;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -80px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 80px);
    }
    #sidebarCollapse span {
        display: none;
    }
}