<nav id="sidebar">
    <div class="sidebar-header">
        <h3><img src="../../../assets/images/logo.svg"></h3>
    </div>

    <ul class="list-unstyled components">
       
        <li class="">
            <a routerLink="#" >
                <img src="../../../assets/images/prof-lft.svg">
            </a>
        </li>
        <li class="active">
            <a routerLink="#" >
                <img src="../../../assets/images/grid.svg">
            </a>
        </li>
        <li class="">
            <a routerLink="#" >
                <img src="../../../assets/images/activity-lft.svg">
            </a>
        </li>
        <li class="">
            <a routerLink="#" >
                <img src="../../../assets/images/info-lft.svg">
            </a>
        </li>
        
    </ul>
</nav>